* {
	box-sizing: border-box;
}
body {
	background-color: #333333;
	color: white;
	font-family: sans-serif;
}
.app {
	text-align: center;
	display: grid;
	grid-template-rows: 15% 1.5fr 1fr 5%;
	height: 90vh;
	width: 50%;
	margin-top: 5vh;
	margin-left: 25%;
}
.main {
	grid-row: 2/3;
	display: grid;
	grid-template-columns: 5% 1fr 1.5fr 5%;
	width: 100%;
}
.main-one {
	grid-column: 2/3;
	display: grid;
	grid-template-columns: 1fr 2fr;
	width: 100%;
	margin-top: 40px;
}
.extra {
	grid-row: 3/4;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	width: 100%;
}

.nav-btn {
	color: white;
	background-color: transparent;
	border: 2px solid white;
	width: 60px;
	height: 60px;
	border-radius: 50%;
	font-size: 1.6em;
	font-weight: bolder;
	position: absolute;
	right: 10vw;
	z-index: 2;
	outline: none;
}
.nav-btn:active {
	background-color: white;
	color: #333333;
}

.side-nav {
	position: fixed;
	right: 0px;
	width: 40%;
	height: 100vh;
	margin-right: 0px;
	display: grid;
	grid-template-rows: 1fr 1fr 1fr 1fr 1fr 2fr;
	padding: 10vh 5%;
	background-color: #333333;
	border-left: 2px solid white;
	transition-duration: 0.5s;
	transform-origin: right;
}

.side-nav input {
	padding: 10px 15px;
	color: white;
	border: 1px solid white;
	outline: none;
	font-size: 1em;
	margin: auto 0px;
	background-color: #333333;
	border-radius: 5px;
	width: 100%;
}
.side-nav input:focus {
	border-bottom: 2px solid white;
}

.side-nav .btn {
	background-color: white;
	color: #333333;
	font-weight: bold;
	padding: 10px;
	border: none;
	border-radius: 5px;
	width: 50%;
	margin: auto 0px;
	margin-left: 25%;
	outline: none;
}

.side-nav .btn:focus {
	border: 2px solid #333333;
}

.side-nav .btn:active {
	transform: scale(0.9);
}

@media only screen and (max-width: 768px) {
	.app {
		margin-left: 10%;
		width: 80%;
	}
	.side-nav {
		width: 70%;
	}
}

@media only screen and (max-width: 630px) {
	.app {
		margin-left: 0px;
		width: 100%;
		grid-template-rows: 15% 1fr 1.2fr 5%;
	}
	.nav-btn {
		margin-top: -10px;
		width: 36px;
		height: 36px;
		font-size: 1.1em;
	}
	.name {
		margin-top: 40px;
	}
	.main h1 {
		font-size: 1em;
	}
	.side-nav {
		width: 100%;
	}
	.side-nav input {
		margin-left: 10%;
		width: 80%;
	}
	.extra h4 {
		font-size: 0.9em;
	}
}
